h1 {
  color: lightcoral;
}

p {
  background-color: rgb(100, 150, 200);
}

ul > li:nth-child(even) {
  color: rgba(100, 195, 200, 0.498);
}

ol > li:nth-child(odd) {
  color: #149f;
  color: #149f1255;
}

th {
  color: hsl(360, 100%, 50%);
}
